html {
  background: #2d2d2d;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

@media all and (orientation: portrait) {
  .clock {
    width: 90vw;
    height: 90vw;
  }
}

@media all and (orientation: landscape) {
  .clock {
    width: 90vh;
    height: 90vh;
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  background: white
    url(https://toppng.com/uploads/preview/opular-images-blank-analogue-clock-face-11562920866otsb8p3u8a.png);
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light;
}

.innercircle {
  position: absolute;
  z-index: 2;
  height: 3%;
  width: 3%;
  background: #2d2d2d;
  border-radius: 50%;
}

.hands {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hand {
  background: #e60000;
  position: absolute;
  transform-origin: bottom;
  transition: all 0.12s;
  border-radius: 50% 50% 0% 0%;
}

.hour-hand {
  margin-top: 25%;
  height: 25%;
  width: 2%;
}

.min-hand {
  margin-top: 20%;
  height: 30%;
  width: 1.5%;
}

.second-hand {
  margin-top: 15%;
  height: 35%;
  width: 1%;
  transition-timing-function: cubic-bezier(0.19, 3.91, 0.58, 1);
}

.notransition {
  transition: none !important;
}
